@import 'fonts'

body
  background url('../img/fondo.png')

li
  list-style:none

#imagen_cabecera
  display inline-block
  margin-left calc(50% - 512px)


#imagen_cabecera img
  max-width 1024px

#wrapper
  width 1024px
  min-height 369px
  margin-left calc(50% - 512px)

#contenido
  width 784px
  margin 10px
  min-height 358px
  background-color rgba(244, 244, 167, 0.55)
  margin-left 240px
  border-radius 20px
  padding 11px
  border 1px solid black
  text-align justify


#navegador_lateral
  width 300px
  float left
  margin -38px -26px 10px -37px
  background url('../img/papiro.png') no-repeat
  background-size 100%
  height 407px

#navegador_lateral ul
  margin-top 94px
  width 179px
  margin-left 45px

#navegador_lateral ul li
  list-style none
  height 45px

#navegador_lateral ul li a
  width 170px
  display inline-block
  font-family yamamoto
  font-size: 23px
  color: black

#navegador_lateral ul li.active a
  color red

#imagenes_sumos img
  width 50px
  height 50px

#imagen_sumo img
  width 100px
  height 100px

#info_sumo
  width 500px
