@font-face {
  font-family: yamamoto;
  src: url("http://www.fontsaddict.com/fontface/yama-moto.ttf");
}
body {
  background: url("../img/fondo.png");
}
li {
  list-style: none;
}
#imagen_cabecera {
  display: inline-block;
  margin-left: calc(50% - 512px);
}
#imagen_cabecera img {
  max-width: 1024px;
}
#wrapper {
  width: 1024px;
  min-height: 369px;
  margin-left: calc(50% - 512px);
}
#contenido {
  width: 664px;
  margin: 10px;
  min-height: 338px;
}
#navegador_lateral {
  width: 300px;
  float: left;
  margin: -38px -26px 10px -37px;
  background: url("../img/papiro.png") no-repeat;
  background-size: 100%;
  height: 407px;
}
#navegador_lateral ul {
  margin-top: 94px;
  width: 179px;
  margin-left: 45px;
}
#navegador_lateral ul li {
  list-style: none;
  height: 45px;
}
#navegador_lateral ul li a {
  width: 170px;
  display: inline-block;
  font-family: yamamoto;
  font-size: 23px;
  color: #000;
}
#navegador_lateral ul li.active a {
  color: #f00;
}
